sudo: required

language: generic 

services:
  - docker

before_install:
  - docker build -t krishnabs/multi -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true  krishnabs/multi npm test 


after_success:
  - docker build -t krishnabs/multi-client ./client
  - docker build -t krishnabs/multi-nginx  ./nginx
  - docker build -t krishnabs/multi-server ./server
  - docker build -t krishnabs/multi-worker ./worker
  # loginto docker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password--stdin 
  # Push docker images to docker hub
  - docker push krishnabs/multi-client
  - docker push krishnabs/multi-nginx
  - docker push krishnabs/multi-server
  - docker push krishnabs/multi-worker